.container{
    color:white;
}

.card{
    max-width: 100vw;
    background-color: black;
    color:white;
}
.col{
    background-color: black;
    color:white;
}
.yellowColor{
    color:yellow;
    height: 1rem;
    width: 15rem;
    border-top: .1px solid yellow;
    margin-top:1rem;
}