.container {
   padding-top: 10px;
    padding: 0;
    margin:0;
    width: 100vw;
    height:100vh;
    margin-bottom: 3rem;
    font-family:  Courier New, serif, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, monospace;
    /* overflow-x: hidden; */
    /*  -ms-overflow-style: none;   Internet Explorer 10+ */
   /*  scrollbar-width: none;   Firefox */
  }
  
  .main {
    padding-top: 10px;
    width: 70%;
    height: 70%;
    /* background-color: #212529; */
    color:#eaeaea;
    box-sizing: content-box;
    backdrop-filter: blur(5px);
     border: solid 10,10,10,10 black;
     
  }

 .container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}